.logoImageFirstPage {
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    min-width: 5em;
    display: block;
}

.headerFirstPage {
    text-align: center;
}

.logoFooter {
    background: #436F17;
    width: 100%;
    font-size: 1.2vw;
    font-family: Verdana,Geneva,sans-serif;
    text-align: center;
    color: #F2F2F2;
    margin-top: 5pt;
    font-min-size: 18pt;
}

.houseWrapper {
    float:right;
    margin-top: 10vh;
    margin-right: 2vw;
}

.houseImage {
    width: 60vw;
}

.contactsWrapper {
    margin-top: 70vh;
}

.contactRowImage {
    float: left;
    width: 3vh;
}

.contactRowPoint {
    float: left;
    text-align: center;
    width: 30pt;
}

@media (orientation: portrait) {
    .logoImageFirstPage {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100em;
        min-width: 5em;
    }

    .headerFirstPage {
        text-align: center;
    }

    .logoFooter {
        background: #436F17;
        width: 100%;
        font-size: 2vh;
        font-family: Verdana,Geneva,sans-serif;
        text-align: center;
        color: #F2F2F2;
        margin-top: 5pt;
        font-min-size: 18pt;
    }

    .houseWrapper {
        float:right;
        margin-top: 5vh;
        margin-right: 2vw;
    }

    .houseImage {
        width: 91vw;
    }

    .contactsWrapper {
        margin-top: 70vh;
        margin-left: 15vw;
    }

    .contactRowImage {
        float: left;
        width: 3vh;
    }

    .contactRowPoint {
        float: left;
        text-align: center;
        width: 30pt;
    }
}