.priceImage {
    width: 16vw;
    height: 16vw;
}

.priceImageWrapper {
    width: 90vw;
    margin-left: 5vw;
}

.priceHeader {
    margin-top: 1vh;
    color: #436F17;
    font-size: 3vh;
    text-align: center;
    width: 16vw;
}

.priceContactsWrapper {
    width: 30vw;
    margin-top: 10vh;
}

.priceLinkText {
    color: #0070c0;
    font-size: 2vh;
    text-align: center;
    width: 16vw;
    cursor: pointer;
}

.logo1Wrapper {
    margin-top: -8vh;
}

.logo2Wrapper {
    margin-top: -8vh;
}

.logo3Wrapper {
    margin-top: -35vh;
}

.logo4Wrapper {

}

.logo5Wrapper {
    margin-top: -35vh;
}

@media (orientation: portrait) {
    .priceImage {
        width: 30vw;
        height: 30vw;
    }

    .priceImageWrapper {
        width: 90vw;
        margin-left: 5vw;
    }

    .priceHeader {
        margin-top: 1vh;
        margin-bottom: 1vh;
        color: #436F17;
        font-size: 3.5vw;
        text-align: center;
        width: 30vw;
    }

    .priceContactsWrapper {
        position: absolute;
        width: 70vw;
        margin-top: 119vw;
        margin-left: -70vw;
        margin-bottom: 3vh;
    }

    .priceLinkText {
        color: #0070c0;
        font-size: 3.5vw;
        text-align: center;
        width: 30vw;
        cursor: pointer;
    }

    .logo1Wrapper {
        position: absolute;
        margin-left: 5vw;
        margin-top: 0vh;
    }

    .logo2Wrapper {
        position: absolute;
        margin-left: -12vw;
        margin-top: 85vw;
    }

    .logo3Wrapper {
        position: absolute;
        margin-left: 0vw;
        margin-top: 25vw;
    }

    .logo4Wrapper {
        position: absolute;
        margin-left: 32vw;
        margin-top: 25vw;
    }

    .logo5Wrapper {
        position: absolute;
        margin-left: -17.5vw;
        margin-top: 60vw;
    }
}