.homeEvolutionTableWrapper {
    margin-top: 30vh;
}

.homeEvolutionTableImage {
    width: 12vw;
    height: 20vh;
    margin-right: 1vw;
    margin-bottom: 2vh;
}

.homeEvolutionWrapper {
    float:right;
    width: 40vw;
    margin-top: 9vh;
}

.homeEvolutionImage {
    position: absolute;
    width: 33vh;
    height: 33vh;
}

.homeEvolutionStep1 {
    margin-left: -10vh;
}

.homeEvolutionStep2 {
    margin-top: 22.5vh;
    margin-left: 20vh;
}

.homeEvolutionStep3 {
    margin-top: 58vh;
    margin-left: 20vh;
}

.homeEvolutionStepArrow {
    margin-top: 33vh;
}

@media (orientation: portrait) {
    .homeEvolutionTableWrapper {
        margin-top: 53vh;
    }

    .homeEvolutionTableImage {
        width: 30vw;
        height: 30vw;
        margin-right: 1vw;
        margin-bottom: 2vh;
    }

    .homeEvolutionWrapper {
        width: 90vw;
        margin-top: 5vh;
    }

    .homeEvolutionImage {
        position: absolute;
        width: 30vw;
        height: 30vw;
    }

    .homeEvolutionStep1 {
        margin-left: 0vw;
    }

    .homeEvolutionStep2 {
        margin-top: 3vw;
        margin-left: 33vw;
    }

    .homeEvolutionStep3 {
        margin-top: 30vw;
        margin-left: 53vw;
    }

    .homeEvolutionStepArrow {
        transform: rotate(-40deg);
        margin-top: 23vw;
        margin-left: 23vw;
    }
}