.priceImage {
    width: 16vw;
    height: 30vh;
}

.priceImageWrapper {
    width: 90vw;
    margin-left: 5vw;
}

.priceHeader {
    margin-top: 1vh;
    color: #436F17;
    font-size: 2vw;
    text-align: center;
    width: 16vw;
}

.priceContactsWrapper {
    width: 25vw;
    margin-top: 10vh;
}

.priceLinkText {
    color: #0070c0;
    font-size: 1vw;
    text-align: center;
    width: 16vw;
}