.priceImage {
    width: 16vw;
    height: 16vw;
}

.priceImageWrapper {
    width: 90vw;
    margin-left: 5vw;
}

.priceHeader {
    margin-top: 1vh;
    color: #436F17;
    font-size: 3vh;
    text-align: center;
    width: 16vw;
}

.priceContactsWrapper {
    width: 30vw;
    margin-top: 10vh;
}

.priceLinkText {
    color: #0070c0;
    font-size: 2vh;
    text-align: center;
    width: 16vw;
    cursor: pointer;
}